@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}

header{
    margin: 50px auto;
    width: 1600px;
    height: 650px;
    background-color: #161616;
    color: white;
    display: flex;
    justify-content: center;
    gap: 200px;
    border-radius: 5px;
    /* margin-left: 100px; */
    /* position: relative; */
}
.banner{
    width: 650px;
    margin-top: 110px;
}
.banner h1{
    font-size: 70px;
    font-weight: 700;
}
.banner p{
    font-size: 16px;
}
.live-btn{
    border: none;
    background: #DD0000;
    padding: 13px 30px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 25px;
}
.banner-image img{
    height: 613px;
    position: relative;
    bottom: -38px;

    /* width: 581px; */
}
.navs{
    width: 352px;
    height: 300px;
    background-color: #161616;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.navs a{
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    color: black;
    padding: 10px 0px;
    /* width: 200px; */
    border-radius: 5px;
}
.active{
    background-color: #DD0000 !important;
    color: white !important;
}
.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;

}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.blog-info{
    padding-left: 20px;
}
.blog-info h4{
    color: #161616;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.icons p{
    color: rgba(22, 22, 22, 0.7);
}

.blog{
    width: 312px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding-bottom: 20px;
    border-radius: 8px;
}
.match{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
}
.match-card{
    width: 312px;
    height: 242px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* padding-bottom: 20px; */
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-info h3{
    font-weight: 600;
    color: #161616;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.match-info p{
    color: #4D4D4D;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.transfer-btn{
    border: none;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid #161616;
    font-weight: 500;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 5px;
}
.icons{
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;
}
.time,.chat{
    display: flex;
    gap: 10px;
}
footer{
    margin-top: 100px;
    height: 444px;
    background-color: #161616;
}
.footer h1{
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.hr{
    margin: 0 auto;
    width: 1320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.35);
}
.links{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}
.links a{
    color: #B9B9B9;
    font-weight: 500;
}
@media (max-width:688px) {
    header{
        /* margin-top: 0; */
        width: 90%;
        height: auto;
        flex-direction: column;
        gap: 50px;
    }
    .banner{
        width: 90%;
        margin-top: 50px;
    }
    .banner h1{
        font-size: 32px;
        text-align: center;
        padding: 10px;
    }
    .banner p{
        padding: 20px;
        text-align: justify;

    }
    .banner-image img{
        width: 90%;
        display: block;
        margin: 0 auto;
        /* display: none; */
        bottom: 0;
        height: 400px;
    }
    .banner button{
        display: block;
        margin: 0 auto;
        /* display: flex; */
        /* justify-content: center; */
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .navs{
        background-color: white;
    }
    .navs a{
        border: 1px solid #161616;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .hr{
        width: 80%;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .links{
        flex-direction: column;
        text-align: center;
    }

}


/* tablet view  */
@media only screen and (min-width: 689px) and (max-width: 992px){
    header{
        /* margin-top: 0; */
        width: 90%;
        height: auto;
        /* flex-direction: column; */
        gap: 50px;
    }
    .banner{
        width: 90%;
        margin-top: 50px;
        padding-left: 30px;
    }
    .banner h1{
        font-size: 40px;
        /* text-align: center; */
        /* padding: 10px; */
    }
    .banner p{
        padding: 20px 0px;
        text-align: justify;

    }
    .banner-image img{
        width: 90%;
        display: block;
        margin: 0 auto;
        /* display: none; */
        bottom: 0;
        height: 400px;
    }

    .container{
        flex-direction: column;
        align-items: center;
    }
    .container{
        /* flex-direction: column; */
        /* align-items: center; */
    }

    .navs{
        background-color: white;
    }
    /* .navs a{
        display: flex;
        flex-direction: row !important;
        border: 1px solid #161616;
    } */
    .container .navs{
        box-sizing: content-box;
        width: 600px;
        height: auto;
        display: flex;
        flex-direction: row !important;
        gap: 50px;
    }
    .navs a{
        border: 1px solid #161616;
        padding: 10px 30px !important;
        
        /* padding: 10px 50px; */
    }
    /* .navs a{
        display: block;
        width: 450px !important;
        background-color: red;
    } */
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .hr{
        width: 80%;
    }
    footer{
        height: auto;
        padding-bottom: 30px;
    }
    .links{
        flex-wrap: wrap;
        text-align: center;
    }
}